<div class="row align-items-center justify-content-center h-100 my-auto">
  <div class="col-sm-7 col-lg-5 col-xl-4 col-xxl-3">
    <div class="card w-m">
      <h3 class="card-header">
        Schwab
      </h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= form_with(url: false, model: user) do |form| %>

            <div class="mb-3">
              <%= form.label :email, class: 'form-label' %>
              <%= form.email_field :email, { placeholder: 'Email', disabled: true, class: 'form-control bg-secondary-subtle' } %>
            </div>
          <% end %>
          <div class="d-flex">
            <%= link_to 'Change Email', request_email_change_path, class: 'btn btn-primary ms-auto d-flex' %>
          </div>
        </li>
        <li class="list-group-item">
          <p>
            You currently have <%= pluralize(user.transactions.size, 'transaction') %> in total
          </p>
          <%= form_tag transactions_csv_path, multipart: true do %>
            <div class="mb-3">
              <%= file_field :csv, nil, accept: 'text/csv', required: true, class: (flash[:errors] and flash[:errors]['csv']) ? 'form-control is-invalid' : 'form-control' %>
              <div class="invalid-feedback">
                <ul>
                  <% flash[:errors] and flash[:errors]['csv'] and flash[:errors]['csv'].each do |err| %>
                    <li><%= err %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <%= submit_tag 'Upload Transactions CSV', class: 'btn btn-primary ms-auto d-flex' %>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</div>
