<div class="row align-items-center justify-content-center h-100">
  <div class="col-sm-7 col-lg-5 col-xl-4 col-xxl-3">
    <div class="card w-m">
      <h3 class="card-header">
        Schwab
      </h3>
      <div class="card-body">
        <%= form_tag authenticate_path do %>
          <div class="form-floating mb-3">
            <%= email_field_tag :email, nil, { autocomplete: 'off', placeholder: 'Email', class: flash[:error].nil? ? 'form-control' : 'form-control is-invalid' } %>
            <%= label_tag :email, nil, class: 'form-label' %>
            <div class="invalid-feedback">
              <ul>
                <li><%= flash[:error] %></li>
              </ul>
            </div>
          </div>
          <div class="mb-3"><%= submit_tag @submit_msg, class: 'btn btn-primary ms-auto d-flex' %></div>
          <div><small><%= link_to @alternate_txt, @alternate_link, class: 'link-primary' %></small></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
