<!DOCTYPE html>
<html>
  <head>
    <title>Schwab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield :head %>
  </head>

  <body class="vh-100">
    <%= render 'layouts/nav' %>
    <div class="container-fluid h-100">
      <%= yield %>
    </div>
  </body>
</html>
