<!DOCTYPE html>
<html>
  <head>
    <title>Schwab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield :head %>
  </head>

  <body class="min-vh-100 position-relative d-flex flex-column">

    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>
    <div class="container-fluid flex-grow-1 mb-5 d-flex flex-column">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
